nav {
    position: fixed;
    z-index: 10;
}


@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo {
    animation: comming 3s ease;
}

.menu li a {
    color: white;
    transition: all 0.1s;
    transform: scale(1);
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #e88604;
}

.menu li a:active {
    display: inline-block;
    color: #d17700;
    transform: scale(1.1);
}

@keyframes move {
    from {
        margin-top: -100px;
        opacity: 0;
    }

    to {
        margin-top: 0px;
        opacity: 1;

    }
}

.menu li {
    opacity: 0;
    animation: move 0.4s ease forwards;
}

.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes titlemove {
    from {
        margin-left: -300px;
        opacity: 0;
    }

    to {
        margin-left: 0px;
        opacity: 1;
    }
}

.title__container {
    opacity: 0;
    animation: titlemove 0.4s ease forwards;
    animation-delay: 3s;
    
}

.title__container input, .about_me_container a, .description_left a, .contacts_container input[type="submit"], .contacts_social a, .calculator_footer button{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover, .about_me_container a:hover{
    background-color: #344051;
    color: white;
}

.title__container input:active, .about_me_container a:active{
    background-color: #344051;
    color: white;
    transform: scale(1.1);
}

.description_left a:hover, .calculator_footer button:hover {
    background: #4e938d;
    
}
.description_left a:active, .calculator_footer button:active{
    transform: scale(1.1);
}

.contacts_container input[type="submit"]:hover{
    background: white;
    color: black;
}
.contacts_container input[type="submit"]:active{
    transform: scale(1.1);
    color: black;
}
.contacts_social a:hover{
    transform: scale(1.1);
}
.contacts_social a:active{
    transform: scale(1.3);
}